<h1 class="text-center">Completed Application Samples</h1>


<div class="well app-row">
  <div class="col-md-3 temp-border">
    <div class="app-circle">
    </div>
  </div>
  <div class="col-md-9 temp-border">
    <h1 class="text-center">Development Match</h1>
    <div class="col-md-3">
      <h2 class="table-space">APPLICATION URL</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "https://development-match.herokuapp.com/", 'https://development-match.herokuapp.com/' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">GITHUB REPOSITORY</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "https://github.com/downing034/development_match", 'https://github.com/downing034/development_match' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">DESCRIPTION</h2>
    </div>
    <div class="col-md-9">
      <h6 class="table-space text-center">Development Match is a subscription based developer community designed to link developers and entrepreneurs.
                                          You can sign up to see other developers or subscribe for a small fee to get their contact info.</h6>
    </div>
  </div>
</div>

<div class="well app-row">
  <div class="col-md-9 temp-border">
    <h1 class="text-center">Yelpdemo!</h1>
  </div>
  <div class="col-md-3 temp-border">
    <div class="app-circle">
    </div>
  </div>
</div>

<div class="well app-row">
  <div class="col-md-3 temp-border">
    <div class="app-circle">
    </div>
  </div>
  <div class="col-md-9 temp-border">
    <h1 class="text-center">Sample App</h1>
  </div>
</div>



<!--

<div class="well app-row">
  <div class="col-md-3 temp-border">
    <div class="app-circle">
    </div>
  </div>
  <div class="col-md-9 temp-border">
  </div>
</div>

-->
