<h1 class="text-center">Completed Application Samples</h1>


<div class="well app-row">
  <div class="col-md-3 temp-border">
  </div>
  <div class="col-md-9 temp-border">
  </div>
</div>

<div class="well app-row">
  <div class="col-md-9 temp-border">
  </div>
  <div class="col-md-3 temp-border">
  </div>
</div>

<div class="well app-row">
  <div class="col-md-3 temp-border">
  </div>
  <div class="col-md-9 temp-border">
  </div>
</div>


<!--

<div class="well app-row">
  <div class="col-md-3 temp-border">
  </div>
  <div class="col-md-9 temp-border">
  </div>
</div>

-->
