<%= link_to "Download a PDF copy", "/downloads/PaulWilliamDowningResume.pdf", class: "navbar-right" %></br>
<div class="container">
  <div class="col-md-10 col-md-offset-1  shadow">
    <ul class="list-inline text-center">
      <li>PLEASE REACH OUT</li>|
      <li>FOR ADDITIONAL</li>|
      <li>CONTACT INFORMATION</li>|
      <li>downing034@gmail.com</li>
    </ul>
    <div class="bold-bar"></div>
    <h1> PAUL WILLIAM DOWNING</h1>

    <h4 class="text-center strong">OBJECTIVE</h4>
    <div class="black-bar"></div></br>
    <p class="text-center">Desire to be a part of a vibrant organization and create software footprints. With a year of software quality
       assurance experience, I've defined new test processes, driven QA automation, and built my own ruby on rails applications on the side.
    </p></br>

    <h4 class="text-center strong">SUMMARY OF QUALIFICATIONS</h4>
    <div class="black-bar"></div></br>
      <ul>
        <li>Strong knowledge of X12, EDIFACT, retail supply chain, SaaS business models.</li>
        <li>Strong background successfully managing employees to achieve desired outcomes.</li>
        <li>Proven ability to find direction for process improvement and new initiatives.</li>
        <li>Effective leadership, interpersonal, planning and cross-departmental collaboration.</li>
        <li>Proficient in Microsoft Office, AS2 protocol, FTP, and VAN connections, Salesforce CRM, some SQL.</li>
        <li>Entry level Ruby on Rails development skills, and a great understanding of MVC and code syntax.</li>
      </ul>
    </br>
    <h4 class="text-center strong">TECHNICAL COMPETENCIES</h4>
    <div class="black-bar"></div></br>
    <ul>
      <li><span style="font-weight:bold">Proficient: </span> AS2, Agile Development, Bootstrap, CSS, FTP, Git, Github, Heroku, HTML, Jenkins,
          JIRA, Microsoft Office, MySQL, Oracle B2B, OSX, Ruby, Ruby on Rails, Salesforce, SaaS, SQL, XML, Terminal, VAN, Windows
      </li></br>
      <li><span style="font-weight:bold">Knowledgeable: </span> EC2, JQuery, JavaScript, Kibana, Photoshop, Python, RVM, S3, SVN
      </li>
    </ul></br>

    <h4 class="text-center strong">CORE COMPETENCIES</h4>
    <div class="black-bar"></div></br>
      <ul class="list-inline text-center">
        <li>Leadership</li>|
        <li>Management</li>|
        <li>Problem Solving</li>|
        <li>Communication</li>
      </ul>
      <ul class="list-inline text-center">
        <li>Initiative/Innovation</li>|
        <li>Process Improvement</li>|
        <li>Customer Service</li>|
        <li>Responsibility</li>
      </ul></br>

    <h4 class="text-center strong">PROFESSIONAL EXPERIENCE</h4>
    <div class="black-bar"></div></br>

    <h5>Quality Assurance</h5>
      <ul>
        <li>Created, manual resuable test cases on a per map basis across multiple SPS Commerce products to ensure java maps
            met both EDI and partner standards across format transformations.</li>
        <li>Assisted in the creation of tools to drive QA automation and gain more speed and efficiency while testing.</li>
        <li>Worked in an agile environment to prioritize tasks and ensure new development and bug completion to customer by needed dates.</li>
        <li>Developed a new product testing process which contributed to a higher quality quality assurance on a more consistent basis
            and cut testing time by 25%.</li>
        <li>Served as primary lead for partner implementation and connection protocols, primarily SFTP and AS2.</li>
      </ul>

    <h5>Support Center Lead</h5>
      <ul>
        <li>Served as product owner for the SPS Commerce online <%=link_to 'Support Center', 'https://supportcenter.spscommerce.com/spscommerce' %>:
            monitored and updated content, ensured employee response within Service Level Agreement, implemented design changes.</li>
        <li>Assisted in full product UAT to ensure new features in staging environment were performing as expected and tested
            to verify the features were intuitive to the customers' needs.</li>
        <li>Created cross-departmental training materials for new AS2 system roles and the SPS Commerce Support Center Community.</li>
      </ul>

    <h5>Service Awards / Management</h5>
      <ul>
        <li>Maintained a 97.5% customer satisfaction rating over 1.5 years.</li>
        <li>Four time employee of the quarter nominee.</li>
        <li>Officially commended for initiative, enthusiasm, tenacity, intense customer focus, attention to detail, and dependability in performance reviews.</li>
        <li>Assisted in hiring new employees by developing and implementing training policies to increase efficiency
            with regard to employee development and enhanced productivity.
        </li>
      </ul>

    <h5>Personal Work</h5>
      <ul>
        <li>Developed some sample application to teach myself Ruby on Rails development with a focus on Test-Driven Development
            and MVC Restful architecture.</li>
        <li>Wrote test cases in Ruby on Rails to ensure pages, features, and database validation were constantly tested, while new features were
            implemented and existing code was refactored.</li>
        <li>Used bootstrap and custom CSS/JavaScript to develop dynamic and responsive web applications.</li>
      </ul></br>

    <h4 class="text-center strong">EMPLOYMENT HISTORY</h4>
    <div class="black-bar"></div></br>
    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">SPS Commerce</span>, Minneapolis, Minnesota</li>
          <li><span style="text-decoration:underline">Quality Assurance Analyst</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2014 - Present</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">SPS Commerce</span>, Minneapolis, Minnesota</li>
          <li><span style="text-decoration:underline">Support Center Lead</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2013 - 2014</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">SPS Commerce</span>, Minneapolis, Minnesota</li>
          <li><span style="text-decoration:underline">Senior Customer Operations Analyst</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2013 - 2013</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">SPS Commerce</span>, Minneapolis, Minnesota</li>
          <li><span style="text-decoration:underline">Customer Operations Analyst</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2012 - 2013</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">Minnesota Swarm Professional Lacrosse</span>, Saint Paul, Minnesota</li>
          <li><span style="text-decoration:underline">Brand Management Intern, Game Ops Intern</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2012 - 2013</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">Student Unions &amp; Activities | Information Desk</span>, Minneapolis, Minnesota</li>
          <li><span style="text-decoration:underline">Student Manager</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2010 - 2012</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">Student Unions &amp; Activities | Gameroom</span>, Minneapolis, Minnesota</li>
          <li><span style="text-decoration:underline">Student Manager &amp; Bowling Lane Mechanic</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2010 - 2012</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">New Page Paper Mill</span>, Wisconsin Rapids, Wisconsin</li>
          <li><span style="text-decoration:underline">Assistant Kiln Operator/Summer Vacation Relief</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2008 &amp; 2012</span></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="col-md-7">
        <ul class="job-list">
          <li><span style="font-weight:bold">Bowlmor Lanes</span>, Wisconsin Rapids, Wisconsin</li>
          <li><span style="text-decoration:underline">Front Desk Assistant &amp; Pin Chaser</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="job-list">
          <li><span style="font-weight:bold">2006 - 2008</span></li>
        </ul>
      </div>
    </div></br>

    <h4 class="text-center strong">EDUCATION</h4>
    <div class="black-bar"></div></br>

    <div class="col-md-10">
      <ul class="job-list school">
        <li><span style="font-weight:bold">B.S., Sports Management &amp; Business, University of Minnesota, Minneapolis, Minnesota</span></li>
        <li><span style="font-weight:bold">Graduation: Spring 2012</span></li>
        <li>Focus on Marketing, Community Relations, Brand Management, and Consumer Relations</li>
      </ul>
    </div>
  </div>
</div>











