<header class="navbar navart-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PAUL'S PORTFOLIO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contact Me", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
